/* Colour variables */
:root {
	--primary-color: #0071c3;
	--hover-color: #a11900;
}

/* Tags */

body {
	font-family: "Montserrat", sans-serif;
	/*background-image: url("../media/clouds.jpg");*/
}

footer {
	font-family: "Courier New", Courier, monospace;
	border-top: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	margin: 30px auto 0;
	text-align: center;
	width: 50%;
}

h1 {
	font-family: "Dancing Script", cursive;
	font-size: 50px;
	text-align: center;
	color: var(--primary-color);
}

h2 {
	color: var(--primary-color);
	font-weight: 700;
}

h5 {
	color: var(--primary-color);
	font-weight: 600;
}

hr {
	background-color: var(--primary-color);
	color: var(--primary-color);
	opacity: 1;
	width: 45%;
}

img {
	display: block;
	margin: 0 auto;
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.5;
}

a {
	color: var(--primary-color);
}
a:hover {
	color: var(--hover-color);
}

/* IDs */

#current-date {
	border-top: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	font-weight: 700;
	padding-top: 5px;
	text-align: center;
}

#current-temp {
	font-size: 40px;
}

#search-box {
	border: 2px solid var(--primary-color);
	border-radius: 15px;
	height: min-content;
	padding: 20px 20px;
	width: 30%;
}

#search-label {
	padding-bottom: 5px;
}

#weather-description:first-letter {
	text-transform: capitalize;
}

#weather-icon {
	display: inline;
	left: 10px;
	opacity: 1;
	position: relative;
	top: -10px;
	width: 20%;
}

#forecast div {
	text-align: center;
}

#forecast-icon {
	opacity: 1;
	position: relative;
	width: 50%;
}

/* classes */

.container {
	padding: 30px;
}

.btn-primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	margin-top: 15px;
}

.btn-primary:hover {
	background-color: #fff;
	color: var(--primary-color);
	transition: all 200ms ease-in-out;
}

.btn-secondary {
	background-color: #fff;
	border-color: var(--primary-color);
	color: var(--primary-color);
	margin-top: 15px;
	margin-left: 15px;
}

.btn-secondary:hover {
	background-color: var(--primary-color);
	color: #fff;
	transition: all 200ms ease-in-out;
}

.btn-link {
	padding: 0;
}
.btn-link:hover {
	color: var(--hover-color);
}

.col-3 {
	width: 20%;
}
